

*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

body
{
    
 margin:0;
    padding:0;
    background: url(img/background.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;/*view height*/
}
